autocommand==2.2.2
backports.tarfile==1.2.0
cheroot==11.0.0
CherryPy==18.10.0
greenlet==3.2.4
jaraco.collections==5.2.1
jaraco.context==6.0.1
jaraco.functools==4.3.0
jaraco.text==4.0.0
libgutenberg==0.10.31
lxml==6.0.2
more-itertools==10.8.0
portend==3.2.1
psycopg2-binary==2.9.11
pycountry==24.6.1
python-dateutil==2.9.0.post0
six==1.17.0
SQLAlchemy==1.4.54
tempora==5.8.1
zc.lockfile==4.0
